<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#0aad6e;align-content: center;">
    <h2>
        <%= typeof msg !='undefined'?msg:'' %>
    </h2>

    <img style="height:70%;width:40%" src="/error.gif">
</body>
</html>